# macOS
.DS_Store
.AppleDouble
Icon?
._*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
.venv/
venv/
build/
dist/
*.egg-info/
*.egg

# IDEs / editors
.vscode/
.idea/

# SQLite / DB artifacts
*.sqlite3
*.db

# Caches
.mypy_cache/
.pytest_cache/

# Misc
.DS_Store
